:root {
  --red:#ff5874;
  --dark-red:#fc514e;

  --green: #00cfaf;
  --dark-green:#21c7a8;

  --blue:#82aaff;
  --dark-blue:#82aaff;

  --magenta:#c792ea;
  --dark-magenta:#ae81ff;

  --cyan:#7fdbca;
  --dark-cyan:#7fdbca;

  --yellow:#e3d18a;
  --dark-yellow:#ecc48d;

  --black: #111;
  --light-black: #666;

  --white: #fff;
  --dark-white: #eee;
}

body {
    background: var(--white);
    color: var(--black);
}

#banner {
  background: var(--black);
  color: var(--dark-white);
  text-decoration: none;
}

#banner:hover {
  text-decoration: underline;
}

header ul li:nth-child(4) {
  border-right: .1rem solid var(--black);
}

header ul li a[href] {
  color: var(--light-black);
}

header ul li a[href]:hover {
  color: var(--black);
}

header ul li a.active {
  color: var(--black) !important;
}

/* mode toggle */
header ul li:last-child  {
  color: var(--light-black);
}

header ul li:last-child:hover {
  color: var(--black);
}

h2.t a {
  text-decoration: none;
  color: var(--black);
}

h2.t a:hover {
  color: var(--light-black);
}

.nav-header:hover {
  color: var(--black) !important;
}

.date {
  color: var(--light-black);
}

.p .m {
  color: var(--black)
}

/* links */
footer a[href],p a[href], li a[href] {
  text-decoration-color: var(--magenta);
  color: var(--magenta);
}

li a[href^="#"], p a[href^="#"] {
  text-decoration-style: dashed !important;
}

strong {
  color: var(--dark-blue);
}


.pagination a:hover {
  background: var(--dark-white);
}

.pagination a span:first-of-type {
  color: var(--light-black);
}

.pagination a span:last-of-type {
  color: var(--black);
}

