@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

:root {
  --h-margins: 20px;
  --banner-height: 3em;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

/* light mode by default */

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.1em;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 3em;
    line-height: 1.45em;
    word-spacing: 0.053em;
    position: relative;
}

pre, code {
  font-family: 'IBM Plex Mono', monospace;
}

pre:not(.sourceCode),div.sourceCode {
  overflow: auto !important;
  padding: 1.5em;
  border: 2px solid var(--dark-white);
  border-radius: 0.5em;
}


/* 2. Make nav sticky */
#TOC {
  position: sticky;
  top: 2em;
  height: 0px;
}

#TOC > ul {
  transform: translateX(calc(-90% - 2em)) translateY(4em);
}

.section-nav ul {
  display: inline-block;
  width: 300px;
}

.section-nav li.active > a {
	font-weight: 550;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	transition: all 50ms ease-in-out;
}


ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* nav bar */

#banner {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  height: var(--banner-height);

  z-index: 999;
  text-align: center;
  font-size: .8em;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* header */

header.nav-header {
  display: flex;
  justify-content: space-between;
  height: 5em;
  font-size: .9em;
  cursor: default;
  margin-bottom: 1.5em;
  margin-top: var(--banner-height);
}

header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header ul {
  text-align: left;
  display: flex;
  padding: 0px;
}

header ul li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header ul li a[href] {
  cursor: pointer;
  padding: 0 0.3em;
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  margin: 0px;
  display: inline-block;
  line-height: 1.1;
}

h2.t a {
  font-size: .75em;
  font-weight: 600;
}

/* content */

div.content {
  margin-top: 0;
  margin-bottom: 60px;
  padding-bottom: 2.5em;
}


.p {
  padding-bottom: 1.0em;
}

.date {
  font-weight: 400;
  font-size: 1.0em;
}

.p .time {
  display: flex;
  justify-content: space-between;
}

.p .m {
  font-size: .9em;
  margin-top: .7em;
}


.pro h1 {
  font-size: 3.5em;
}

.misc h2 {
  font-size: 3.0em;
}

.pro p {
  font-size: 1.2em;
}

.r {
  opacity: 0;
}

.nav-header:hover .r {
    transition: opacity .4s;
    opacity: 1;
}

/* links */

a {
  outline: 0;
}

p a[href^="#"] {
  text-decoration-style: dashed !important;
}


/* footer styles */

footer {
  position: absolute;
  bottom: 0;
  left: var(--h-margins);
  right: var(--h-margins);
  height: 2.5em;
  font-size: 0.8em;
  text-align: center;
}

.social {
  margin-top: .6em;
}

.social a {
  text-decoration: none !important;
  margin-right: .7em;
  padding: .8em;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--h-margins);
}

.pagination a {
  text-decoration: none !important;
  width: 275px;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.pagination a span:first-of-type {
  margin-top: 0;
  font-size: .8em;
}

.pagination a span:last-of-type {
  white-space: nowrap;
  font-weight: 700;
  margin-top: .25em;
}

/* images */
img {
  max-width: 100% !important;
}

img[src*='#right'] {
  display: block;
  float: right;
  margin: 0 0 1em 5em;
}

img[src*='#left'] {
  display: block;
  float: left;
  margin: 0 5em 1em 0;
}

img[src*='#center'] {
  display: block;
  margin: 4em auto;
}

figcaption {
  text-align: center;
}

figure, img[src*='#center'] {
  margin: 1em auto !important;
}

header, div.content {
  margin: 0 var(--h-margins);
}

.katex-display > .katex {
    max-width: 100%;
}
.katex-display > .katex > .katex-html {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 2px;
    padding-right: 2px;
}
